@model GenerateWalletViewModel
@{
    ViewData["Title"] = "Wallet";
    ViewData.AddActivePage(ManageNavPages.Wallet);
}

<h4>@ViewData["Title"]</h4>

<h5>your address</h5>


@{
    <form method="post">


        <div class="form-control-static">
            <label asp-for="PublicAddress">PublicAddress</label>
            <input asp-for="PublicAddress" class="form-control" name="PublicAddress" placeholder=@Model.PublicAddress>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
